@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  width: 100%;
  background: #222D32;
  background: url(https://media-cdn-v2.laodong.vn/storage/newsportal/2023/8/26/1233821/Giai-Nhi-1--Nang-Tre.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  border-radius: 15px;
  width: 100%;
  padding: 20px; 
}

.container .registration {
  display: none;
}

.container .forgot {
  display: none;
}

#check {
  display: none;
}

.form header {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  text-align: center;
}

.forgot .text-input, .registration .text-input,.login .text-input {
  font-size: 20px;
  text-align: left;
  color: #fff;
}

.signout input, .forgot input, .registration input, .login input {
  width: 100%;
  border-radius: 10px;
  border: 0;
  background: rgb(0 0 0 / 20%);
  padding: 20px;
  margin: 15px 0px;
  color: #fff;
}

.signout input::placeholder,
.forgot input::placeholder,
.registration input::placeholder,
.login input::placeholder {
  color: #fff;
  font-size: 16px;
}

.signout .btn,
.forgot .btn,
.registration .btn,
.login .btn {
  display: block;
  font-size: 20px;
  background: rgba(0, 0, 0, 15%);
  width: 100%;
  border-radius: 10px;
  padding: 18px;
  margin: 15px 0px;
  transition: 0.4s;
  color: #fff;
}

.signout .btn:hover,
.forgot .btn:hover,
.registration .btn:hover,
.login .btn:hover {
  background-color: rgba(0, 0, 0, 35%);
  cursor: pointer;
}

.forgot .box-suggets,
.registration .box-suggets,
.login .box-suggets {
  text-align: center;
}

.signup {
  font-size: 17px;
  text-align: right;
}

.signup a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.signup a:hover {
  color: rgba(0, 0, 0, 35%);
    cursor: pointer;
}

/* SIGNPUT PAGE */
.signout .box- {
  background: #222D32;
  display: flex;
  align-items: center;
  justify-content: center;
}